.about {
    margin: auto;
    padding: 8rem 2rem;
    display: block;
    height: auto;
    max-width: 1000px;
    color: var(--ghostwhite);
    background-color: var(--black);
    box-shadow: 0px 0px 8px 4px rgba(104, 104, 104, 0.505);
}

#sh {
    padding: 8px;
    text-align: justify;
}

.para {
    text-indent: 30px;
}

#h1about {
    text-align: left;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .about {
        padding: 15rem 5rem;
    }
}