.h3register {
    text-align: center;
    margin-top: 80px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 19vh;
}

.input {
    margin-bottom: 20px;
    padding: 5px;
}

.butsubmit {
    margin-right: 48px;
    background-color: var(--green);
    color: var(--ghostwhite);
    border-radius: 8px;
    border: solid;
}

.butcan {
    background-color: var(--red);
    color: var(--ghostwhite);
    border-radius: 8px;
    border: solid;

}

.butsubmit:hover {
    color: var(--yellow);
}

.butcan:hover {
    color: var(--yellow);
}

.butscad {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: -5px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .butscad {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 10px;
    }

    .butsubmit {
        margin-right: 0;
    }
}