.menu-ham{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.074);
}

.close-menu{
    text-align: end;
    background-color: rgba(0, 0, 0, 0.074);
    padding-top: 80px;
    padding-right: 41.5px;
}

.list-menu{
    list-style: none;
    padding: 15px;
    text-align: center;
}

.menu-option{
    margin: 55px;
    color: var(--ghost);
    font-size: 30px;
}
