.menu-ham{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    background-color: #f8f8ff29;
}

.h5menu{
    text-align: end;
    background-color: #f8f8ff29;
    padding-top: 30px;
    padding-right: 34.5px;
}

.list-menu{
    list-style: none;
    padding: 0px;
    text-align: center;
}

.h1menu{
    margin: 55px;
    color: var(--ghost);
}
