.Homepic {
    width: 100%;
    height: 100%;
}

.homepic {
    height: 100vh;
}

.abbrt {
    text-decoration: none;
}

.out {
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
}

.soundcloud {
    margin-top: 10px;
    width: 100px;
    height: 43px;
    margin: auto;
}

.youtube {
    width: 70px;
    height: 61px;
    margin: auto;
}

.butcad{
    background-color: #f8f8ff;
    padding: 9px;
    border-radius: 12px;
    color: var(--black);
    border: solid;
}

main {
    display: flex;
    justify-content: space-between;
}

.container {
    text-align: center;
    font-weight: bold;
    margin-top: 26vh;
    padding: 2rem;
    width: auto;
    padding: 3rem; 
    max-width: 600px;
}

@media screen and (max-width: 1000px) {
    main {
        display: block;
    }

    .container {
        padding: 60px;
        margin-top: 5rem;
    }

    .Homepic {
        max-width: 100%;
        height: auto;
    }

    .homepic {
        height: auto;
    }

    .out {
        margin-right: 19px;
        margin-top: 40px;
    }

    .soundcloud {
        margin-top: 10px;
        width: 100px;
        height: 43px;
        margin: auto;
    }

    .youtube {
        width: 66px;
        height: 63px;
        margin: auto;
        margin-left: 8px;
    }
}