.Homepic {
    width: 100%;
    height: 100%;
}

.homepic {
    height: 100vh;
}

.abbrt {
    text-decoration: none;
}

.out {
    display: flex;
}

.soundcloud {
    width: 70px;
    height: 50px;
    margin: auto;
    margin-left: 150px;
}

.youtube {
    width: 70px;
    height: 70px;
    margin: auto;
    margin-right: 150px;
}

main {
    display: flex;
    justify-content: space-between;
}

.container {
    text-align: center;
    font-weight: bold;
    margin-top: 26vh;
    padding: 2rem;
    width: auto;
}

@media screen and (max-width: 1000px) {
    main {
        display: block;
    }

    .container {
        margin-top: 5rem;
    }

    .Homepic {
        max-width: 100%;
        height: auto;
    }

    .homepic {
        height: auto;
    }

    .soundcloud {
        width: 80px;
        height: 45px;
        margin: auto;
        margin-left: 25px;
    }
    
    .youtube {
        width: 70px;
        height: 70px;
        margin: auto;
        margin-right: 25px;
    }
}