.main-Homepic {
    width: 100%;
    height: 100%;
}

.section-carosel{
    background-color: var(--charmoisee);
}

.home-tittle{
    font-size: 48px;
}

.social-links{
    margin: 20px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-homepic {
    height: 103vh;
}

.abbrt {
    text-decoration: none;
}


.soundcloud {
    margin-top: 10px;
    width: 100px;
    height: 43px;
}

.youtube {
    width: 70px;
    height: 61px;
}

.butcad {
    background-color: #f8f8ff;
    padding: 9px;
    border-radius: 12px;
    color: var(--black);
    border: solid;
}

.section-main {
    display: flex;
    justify-content: space-between;
}

.aside-1-main {
    text-align: center;
    font-weight: bold;
    margin-top: 30vh;
    width: auto;
    padding: 2rem;
}

.section-3 {
    background-color: var(--charmoisee);
    text-align: center;
    color: var(--ghostwhite);
    padding: 2vh;
    position: sticky;
    height: max-content;
    box-shadow: 0px 20px 0px 0px rgba(22, 22, 22, 0.726);
}

.section-2 {
    background-color: var(--charmoisee);
    text-align: center;
    color: var(--ghostwhite);
    padding: 2vh;
    position: sticky;
    height: max-content;
}

.tittle-other-sections {
    text-align: start;
}

.split-mobile {
    display: none;
}


@media screen and (max-width: 1000px) {
    .section-main {
        display: block;
    }

    .hrhome {
        display: none;
    }


    .home-tittle{
        font-size: 38px;
    }
    .aside-1-main {
        padding: 15px;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    .social-links{
        align-items: center;
        justify-items: center;
    }

    .home-text{
        padding: 0px 50px 0px 50px;
        text-align: justify;
    }

    .main-Homepic {
        max-width: 100%;
        height: auto;
    }

    .main-homepic {
        height: auto;
    }

    .soundcloud {
        width: 100px;
        height: 47px;
        margin: auto;
    }

    .youtube {
        width: 66px;
        height: 70px;
        margin: auto;
        margin-left: 15px;
    }

    .split-mobile {
        display: block;
        background-color: white;
        text-align: center;
        color: white;
        padding: 2vh;
        position: sticky;
        height: max-content;
        border-radius: 30px 30px 0px 0px;
    }

    .main-Homepic {
        border: solid white;
    }

}
