.logo-container {
    flex: 1;
}

.logo {
    height: 45px;
}

#burguer{
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    height: 9vh;
    padding: 0rem 2.5rem;
    background-color: var(--purple);
}

#itens2 {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
}

a:hover {
    color: var(--grey);
}

@media screen and (max-width: 767px) {
    #burguer {
        display: flex;
        cursor: pointer;
    }

    #burguer:hover {
        color: var(--grey);
    }

    #itens2 {
        display: none;
    }
}