.carosel-img {
    width: 330px;
    height: auto;
    margin: auto;
    display: block;
    border: solid #f8f8ff;
    margin-bottom: 10px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: -15px 5px 0px 1px black;
}

.carosel-container {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

.h3car{
    color: var(--ghostwhite);
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 50px 50px 0px 0px;
    background-size: cover;
    background-position: center center;
}


.carrossel {
    width: 600px;
    height: 590px;
    margin: 0 auto;
}

.alice-carousel__dots {
    margin: 0px 0px 0px;
    padding: 15px;
    list-style: none;
    text-align: center;
}