.audio-set {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 60px;
}

.audio-set iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: -20px 20px 0px 0px rgba(22, 22, 22, 0.999);
}

.audios-tittle {
    margin: 40px 0px 0px 10px;
}

@media screen and (min-width: 1000px) {
    .audio-set iframe {
        max-width: 80%;
    }

    .audio-set {
        margin: 50px;
    }

    .audios-tittle {
        margin: 40px 0px 20px 150px;
    }

    .audio-genre {
        font-weight: bolder;
    }
}

@media screen and (max-width: 360px) {
    .audio-set{
        margin: 40px 5px 40px 10px;
    }
    .audio-set iframe{
        width: 92%;
    }

    .audios-tittle {
        padding-left: 0;
        text-align: start;
    }

    .audio-genre {
        text-align: center;
    }
}